<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <h2>LoginAdmin</h2>
        <form th:action="@{/employee/login}" method="post">
            <input type="text" id="username" name="uid" placeholder="Username" required>
            <input type="password" id="password" name="pwd" placeholder="Password" required>
            <div class="error" style = "color : red;" th:if="${error}">
                <p th:text="${error}"></p>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
