<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Add Order Request</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/addRequestOrder.css}">
</head>
<body>

	<div th:replace="businessManager/layout/header_admin"></div>
	<div class="content-wrapper" style="min-height: 1302.4px;">
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<form th:action="@{/businessManager/addRequestOrder}" method="post"
						enctype="multipart/form-data" class="w-100">
						<div class="row">
							<div class="col-md-6">
								<div class="card card-primary" style="margin-top: 30px;">
									<div class="card-header">
										<h3 class="card-title">Add Order Request</h3>
									</div>
									<div class="card-body">
										<table class="table">
											<thead>
												<tr>
													<th colspan="2">Request Order</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><label for="name">Request Id</label></td>
													<td><input type="text" id="name" name="name"
														th:value="${request.name}" class="form-control"
														placeholder="Enter Name" readonly></td>
												</tr>
												<tr>
													<td><label for="date">Request Date</label></td>
													<td><input type="date" id="date" name="date"
														class="form-control"
														th:value="${#temporals.format(request.date, 'yyyy-MM-dd')}">

													</td>

												</tr>
												<tr>
													<td><label for="statusRequest">Status</label></td>
													<td><input type="text" id="statusRequest"
														name="statusRequest" value="Pending Approval"
														class="form-control" readonly></td>
												</tr>
											</tbody>

										</table>
									</div>
									<div class="card-footer">
										<button id="submitButton" type="submit"
											class="btn btn-primary">Submit</button>
									</div>
								</div>
							</div>
							<div th:if="${error}" class="alert alert-danger">
								<p th:text="${error}"></p>
							</div>
							<div class="col-md-6">
								<div class="card card-secondary" style="margin-top: 30px;">
									<div class="card-header" style="background-color: #6C75EC;">
										<h3 class="card-title">Order Details</h3>
									</div>
									<div class="card-body">
										<div id="details">
											<table class="table">
												<thead>
													<tr>
														<th colspan="2">Order Details</th>
													</tr>
												</thead>
												<tbody id="detailsBody"></tbody>
											</table>
										</div>

										<button id="addDetailButton" type="button"
											onclick="addDetail()" class="btn btn-primary add-detail-btn">+</button>

										<div th:if="${message}" class="alert alert-info">
											<span th:text="${message}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</section>


	</div>

	<div th:replace="businessManager/layout/footer_admin"></div>

	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script th:src="@{/js/addOrderRequest.js}"></script>

</body>
</html>
